.burger-btn {
  --btn-primary: #bcdbec;
  --btn-size: 30px;
}
.burger-btn {
  width: var(--btn-size);
  height: var(--btn-size);
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  padding: 5px;
}

.burger-btn:before,
.burger-btn:after,
.burger-btn span {
  position: absolute;
  width: var(--btn-size);
  background-color: var(--btn-primary);
  height: 2px;
  transition: all 0.3s ease 0s;
}

.burger-btn:before {
  content: "";
  top: 0;
}
.burger-btn:after {
  content: "";
  bottom: 0;
}
.burger-btn span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.burger-btn.active:before,
.burger-btn.active:after,
.burger-btn.active span {
  background-color: var(--btn-primary);
}

.burger-btn.active:before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.burger-btn.active:after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}
.burger-btn.active span {
  transform: scale(0) translate(0px, -50%);
}
